<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add track</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="d-flex justify-content-center">
		<form th:object="${track}" th:action="@{/savetrack}" action="#" method="post">
		  	
		  	<div style="clear: both; display: block; height: 10px;" class="form-group"></div>
		  	<h1>Add track</h1>
		  	<div style="clear: both; display: block; height: 10px;" class="form-group"></div>
		  	
		  	<div class="input-group mb-3">
		  		<div class="input-group-prepend">
		  			<span class="input-group-text" id="artist">Artist</span>
		  		</div>
		  		<input type="text" class="form-control" placeholder="Artist" aria-label="Artist" aria-describedby="artist" th:field="*{artist}">
		  	</div>
		  	
		  	<div class="input-group mb-3">
		  		<div class="input-group-prepend">
		  			<span class="input-group-text" id="trackname">Track name</span>
		  		</div>
		  		<input type="text" class="form-control" placeholder="Name" aria-label="name" aria-describedby="name" th:field="*{name}">
		  	</div>

			<label for="albumlist">If wanted album doesn't show up here, add it first <a href="/addalbum">here</a></label>
		  	<div class="input-group mb-3">
		  		<div class="input-group-prepend">
		  			<span class="input-group-text" id="albumname">Album</span>
		  		</div>
		  		<select id="albumlist" th:field="*{album}" class="form-control">
					<option th:each="album: ${albums}" th:value="${album.albumId}" th:text="${album.name}"></option>
				</select>
		  	</div>
	  	
		  	<div class="input-group mb-3">
		  		<div class="input-group-prepend">
		  			<span class="input-group-text" id="albumname">Genre</span>
		  		</div>
		  		<select id="genrelist" th:field="*{genre}" class="form-control">
					<option th:each="genre: ${genres}" th:value="${genre.genreId}" th:text="${genre.name}"></option>
				</select>
		  	</div>
			
			<div class="input-group mb-3">
		  		<div class="input-group-prepend">
		  			<span class="input-group-text" id="link">YouTube link</span>
		  		</div>
		  		<input type="text" class="form-control" placeholder="Link" aria-label="link" aria-describedby="link" th:field="*{link}">
		  	</div>
			
			<input type="submit" value="Save" class="btn btn-success"></input>
			<a href="/tracklist" class="btn btn-danger">Cancel</a>
		</form>
	</div>
</body>
</html>